@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
}
#root {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  height: 100vh;
}
:root {
  @apply bg-primary;
}

.overlay-film-backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent 25%,
    theme("colors.primary")
  );
}

.about-movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Высота равна высоте экрана */
}

.layout-header {
  flex: 0 0 auto; /* Фиксированная высота для навигации */
}

.layout-body {
  flex: 1 0 auto; /* Заполняет оставшееся пространство */
  overflow-y: auto; /* Добавляет скроллинг, если содержимое превышает высоту */
}

.layout-footer {
  flex: 0 0 auto; /* Фиксированная высота для футера */
}