@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
}
:root {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
:root {
  @apply bg-zinc-800;
}
.overlay-film-left {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to left, transparent 5%, theme("colors.primary"));
}
.overlay-film-right {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    transparent 5%,
    theme("colors.primary")
  );
}
